th.table-header { border: 1px solid #000000; padding: 4px; background: #FFFFFF }

td.table-detail { border: 1px solid #000000; padding: 4px; background: #FFFFFF }

td.table-detailVisible { border: 1px solid #000000; padding: 4px; background: #F18636 }
